[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
pydantic = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-security-too = "*"
flask-wtf = "*"
flask-cors = "*"
flask-mail = "*"
email-validator = "*"
python-dotenv = "*"
psycopg2-binary = "*"
gunicorn = "*"
requests = "*"
passlib = {extras = ["bcrypt"], version = "*"}
beautifulsoup4 = "*"
skatetrax_core = {git = "https://github.com/Skatetrax/skatetrax_core.git", ref = "dev"}

[dev-packages]

[requires]
python_version = "3.14"
