Flask
Werkzeug
pydantic
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-Security-Too
Flask-WTF
Flask-Cors
Flask-Mail
email-validator
python-dotenv
psycopg2-binary
gunicorn
requests
passlib[bcrypt]
beautifulsoup4
